In [2]:
import pandas

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp311-cp311-macosx_10_9_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 1.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ada4sh/opt/anaconda3/envs/python_udemy_ml_dl_env/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 1.4 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 2.2 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.21.0
  Using cached numpy-1.24.2-cp311-cp311-macosx_10_9_x86_64.whl (19.8 MB)
Requirement already satisfied: six>=1.5 in /Users/ada4sh/opt/anaconda3/envs/python_udemy_ml_dl_env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
pandas.__version__

'2.0.0'

In [4]:
type (1)

int

In [5]:
type (1.0)

float

In [6]:
type('blah')

str

In [7]:
2*4

8

In [8]:
2**4

16

######

In [10]:
2^4

6

In [11]:
4/2

2.0

In [12]:
4%2

0

In [13]:
x = 1
y = 2

In [14]:
x+y

3

In [18]:
print("My name is {} and my number is {}".format("Adarsh","10"))

My name is Adarsh and my my number is 10

In [21]:
print("First: {y} and Second: {x}".format(x="XXX", y="YYYYYYY"))

First: YYYYYYY and Second: XXX

In [22]:
[1,'a', "xxx"]

[1, 'a', 'xxx']

In [23]:
new_list = [1,'a', "b"]

In [24]:
new_list

[1, 'a', 'b']

In [25]:
new_list[0] = 'C'

In [26]:
new_list

['C', 'a', 'b']

new_list.append('d')

In [28]:
new_list.append('d')

In [31]:
new_list

TypeError: 'builtin_function_or_method' object is not subscriptable

In [33]:
del new_list[3]

In [34]:
new_list

['C', 'a', 'b', 'd']

In [35]:
new_list.append(["c","f"])

In [36]:
new_list

['C', 'a', 'b', 'd', ['c', 'f']]

In [37]:
new_list[4]
## order is stored and values are mutable

['c', 'f']

In [38]:
new_list[4][0]

'c'

In [39]:
new_dict = {"name": "Adarsh", "age":28}
## order is not stored, only key:value pairs are stored

In [40]:
new_dict

{'name': 'Adarsh', 'age': 28}

In [41]:
new_dict("name")

TypeError: 'dict' object is not callable

In [42]:
new_dict['name']

'Adarsh'

In [43]:
new_dict['age']

28

In [44]:
new_tup = ('adarsh', 'age', 28)

In [46]:
new_tup[0]

'adarsh'

In [47]:
new_tup[0] = 'Nikhi'
## tuple elements are immutable

TypeError: 'tuple' object does not support item assignment

In [48]:
new_set = {0000,0,1,1,1,1,2,2,2,2,0,0,0,3,3,3,4,5,6,7,7,7}

In [49]:
new_set
## only distinct values are stored in sets, no repitition

{0, 1, 2, 3, 4, 5, 6, 7}

In [50]:
1 == 3

False

In [51]:
'A' == 'a'

False

In [52]:
1 < 5

True

In [53]:
1 <= 5

True

In [55]:
1 >= 5

False

In [56]:
1 != 5

True

In [58]:
(1==2) and ("a" == "a")

False

In [59]:
(1==1) and ("a" == "a")

True

In [60]:
(1==2) or ("a" == "a")

True

In [61]:
(1==1) & ("a" == "a")

True

In [62]:
if 1 == 1:
    print("good job")

good job

In [63]:
if 1==2:
    print("worked")
else:
    print("nope")

nope

In [64]:
if 1==2:
    print("nope")
elif 1!=2:
    print("NOT")
else:
    print("0")

NOT

In [65]:
new_list

['C', 'a', 'b', 'd', ['c', 'f']]

In [67]:
for x in new_list:
    print(x)

C
a
b
d
['c', 'f']

In [68]:
for x in new_list:
    print(x+x)

CC
aa
bb
dd
['c', 'f', 'c', 'f']

In [69]:
i = 1
while i <5:
    print("i = {}".format(i))
    i+=1

i = 1
i = 2
i = 3
i = 4

In [70]:
x =[1,2,3,4,5]

In [71]:
range(5)

range(0, 5)

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [74]:
y = list(range(4,10))
print(y)

[4, 5, 6, 7, 8, 9]

In [83]:
z = list(range(2,7,2))
print(z)

[2, 4, 6]

In [79]:
for x in range(5):
    print("Yolo")

Yolo
Yolo
Yolo
Yolo
Yolo

In [84]:
x = []
for i in range(6):
    x.append(i**2)
print(x)

[0, 1, 4, 9, 16, 25]

In [85]:
[i**2 for i in range(6)]
# this is called 'list comprehension'

[0, 1, 4, 9, 16, 25]

In [86]:
def my_func():
    print("Hello")

In [87]:
my_func()

Hello

In [88]:
def my_func1(name):
    print("hello "+name)
my_func1("World")

hello World

In [89]:
def my_func2():
    '''
    This is reference only 
    '''
    print("Hello world")
## to reference, shift+tab

In [90]:
my_func2()

Hello world

In [92]:
def my_func3(x):
    return x**2

In [93]:
my_func3(5)
## return vs print: return will save the value in 'x' while print will not

25

In [94]:
abc = my_func3(4)
print(abc)

16

In [95]:
type(abc)

int

In [96]:
def times_two(var):
    return(var*2)

In [97]:
times_two(5)

10

In [99]:
lamda var: var*2
## lamda functions are functions with no name, and one time use only, also called anonymous function

SyntaxError: invalid syntax (706219039.py, line 1)

In [100]:
string1 = "This is a Sentence"
string1.lower()

'this is a sentence'

In [101]:
string1.upper()

'THIS IS A SENTENCE'

In [102]:
string1_list = string1.split()

In [103]:
print(string1_list)

['This', 'is', 'a', 'Sentence']

In [104]:
string1.split('a')
## splits the string to a list at 'a' as a delimiter

['This is ', ' Sentence']

In [105]:
d = {'k1':'v1', 'k2':'v2'}

In [106]:
d.keys()

dict_keys(['k1', 'k2'])

In [107]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [109]:
string1_list

['This', 'is', 'a', 'Sentence']

In [112]:
last = string1_list.pop()
print(last)
string1_list

a

['This', 'is']

In [115]:
string1_list = string1.split()
string1_list

['This', 'is', 'a', 'Sentence']

In [116]:
last = string1_list.pop()

In [117]:
last

'Sentence'

In [118]:
print(last)

Sentence

In [119]:
string1_list

['This', 'is', 'a']

In [120]:
first = string1_list.pop(0)
## pop is used to remove item from a list, last item by default, but can also specify which one with index

In [121]:
first

'This'

In [122]:
string1_list

['is', 'a']

In [124]:
new_list

['C', 'a', 'b', 'd', ['c', 'f']]

In [125]:
'x' in new_list

False

In [126]:
"a" in new_list

True